<div class="container">
	<div class="row">
		<br>
		<div class="jumbotron">
		  <h1 class="display-3 text-center" style="font-weight: 900; font-size: 3em;">Burger 2: The Sequel</h1>
		  <hr class="my-4">
		  <p class="lead">This is a simple application that allows users to devour burgers from a mySQL database and display the devoured burgers using an ORM Sequelize. Users also have the ability to create new burgers into the database.</p>
		</div>
		<div class="row">
			<div class="col-xs-6 text-center" class="task">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Burgers Available</div>
					<div class="panel-body">
						{{#each burger_data}}
							{{#unless this.devoured}}
								<div class="row">
									<div class="col-xs-9 text-center">
										<pre> {{this.id}}. {{this.burger_name}}</pre>
									</div>
									<div class="col-xs-3 text-center">
										<form method="POST" action="/burgers/{{id}}" class="button-size" style="line-height: 0px;">
											<input type="hidden" name="burger_id" type="text" value={{this.id}}>
											<br>
											<button type="sumbit" class="btn btn-default">Devour It!</button>
										</form>
									</div>
								</div>
							{{/unless}}
						{{/each}}
					</div>
				</div>
			</div>
			<div class="col-xs-6 text-center" class="task">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Burgers Devoured</div>
					<div class="panel-body">
						{{#each burger_data}}
							{{#if this.devoured}}
								<input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-offset-4 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" name="burger_name" class="form-control" value="" id="enter_text">
				<br>
				<button type="sumbit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<h3>Enter name of burger you would like to add!</h3>
		</div>
	</div>
</div>